In [4]:
import pandas as pd
df=pd.read_csv("pima-indians-diabetes.csv")
df.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [7]:
df.isnull().sum()

6        0
148      0
72       0
35       0
0        0
33.6     0
0.627    0
50       0
1        0
dtype: int64

In [8]:
inputs= df.drop("1",axis="columns")
target=df["1"]

In [9]:
inputs_n=df.drop(['6','148','35'],axis='columns')
inputs_n

     72    0  33.6  0.627  50  1
0    66    0  26.6  0.351  31  0
1    64    0  23.3  0.672  32  1
2    66   94  28.1  0.167  21  0
3    40  168  43.1  2.288  33  1
4    74    0  25.6  0.201  30  0
..   ..  ...   ...    ...  .. ..
762  76  180  32.9  0.171  63  0
763  70    0  36.8  0.340  27  0
764  72  112  26.2  0.245  30  0
765  60    0  30.1  0.349  47  1
766  70    0  30.4  0.315  23  0

[767 rows x 6 columns]

In [10]:
from sklearn import tree

In [11]:
model=tree.DecisionTreeClassifier()

In [12]:
model.fit(inputs_n,target)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [13]:
model.score(inputs_n,target)

1.0

In [18]:
model.predict([[1,55,60,120,45,85]])

array([1], dtype=int64)